extends metrolayout

block content
        |<!-- BEGIN LOGO -->
        |<div class="logo">
        |    <!--<a href="index.php">
        |        <img src="images/logo.png" alt="" /> </a>-->
        |</div>
        |<!-- END LOGO -->
        |<!-- BEGIN LOGIN -->
        |<div class="content">
        |    <!-- BEGIN LOGIN FORM -->
        |    <form class="login-form" action="#" method="post">
        |        <h3 class="form-title">Login to your account</h3>
        |        <div class="alert alert-danger display-hide">
        |            <button class="close" data-close="alert"></button>
        |            <span> Enter any username and password. </span>
        |        </div>
        |        <div class="alert alert-danger" id="errorMsg" style="display: none;">
        |            <button class="close" data-close="alert"></button>
        |            <span> There was an error processing your request. </span>
        |        </div>
        |        <div class="form-group">
        |            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        |            <label class="control-label visible-ie8 visible-ie9">Username</label>
        |            <div class="input-icon">
        |                <i class="fa fa-user"></i>
        |                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" id="username" />
        |            </div>
        |        </div>
        |        <div class="form-group">
        |            <label class="control-label visible-ie8 visible-ie9">Password</label>
        |            <div class="input-icon">
        |                <i class="fa fa-lock"></i>
        |                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" id="password" />
        |            </div>
        |        </div>
        |        <div class="form-actions">
        |            <button type="submit" class="btn green pull-right"> Login </button><br>
        |        </div>
        |        <div class="login-options">
        |            <h4>Or login with</h4>
        |            <ul class="social-icons">
        |                <li>
        |                    <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
        |                </li>
        |                <li>
        |                    <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
        |                </li>
        |                <li>
        |                    <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
        |                </li>
        |            </ul>
        |        </div>
        |        <div class="forget-password">
        |            <h4>Forgot your password ?</h4>
        |            <p> no worries, click
        |                <a href="javascript:;" id="forget-password"> here </a> to reset your password. </p>
        |        </div>
        |        <div class="create-account">
        |            <p> Don't have an account yet ?&nbsp;
        |                <a href="javascript:;" id="register-btn"> Create an account </a>
        |            </p>
        |        </div>
        |    </form>
        |    <!-- END LOGIN FORM -->
        |    <!-- BEGIN FORGOT PASSWORD FORM -->
        |    <form class="forget-form" action="#" method="post">
        |        <h3>Forget Password ?</h3>
        |        <p> Enter your e-mail address below to reset your password. </p>
        |        <div class="alert alert-success" id="fp_successMsg" style="display: none;">
        |            <button class="close" data-close="alert"></button>
        |            <span> The system admin has been notified of your request, you will be emailed shortly. </span>
        |        </div>
        |        <div class="alert alert-danger" id="fp_errorMsg" style="display: none;">
        |            <button class="close" data-close="alert"></button>
        |            <span> There was an error processing your request, please check your email and try again. </span>
        |        </div>
        |        <div class="form-group">
        |            <div class="input-icon">
        |                <i class="fa fa-envelope"></i>
        |                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" id="fp_email" /> </div>
        |        </div>
        |        <div class="form-actions">
        |            <button type="button" id="back-btn" class="btn grey-salsa btn-outline"> Back </button>
        |            <button type="submit" class="btn green pull-right"> Submit </button>
        |        </div>
        |    </form>
        |    <!-- END FORGOT PASSWORD FORM -->
        |    <!-- BEGIN REGISTRATION FORM -->
        |    <form class="register-form" action="#" method="post">
        |        <h3>Sign Up</h3>
        |        <p> Enter your personal details below: </p>
        |        <div class="alert alert-danger" id="reg_errorMsg" style="display: none;">
        |            <button class="close" data-close="alert"></button>
        |            <span> There was an error processing your request, please check your email and try again. </span>
        |        </div>
        |        <div class="form-group">
        |            <label class="control-label visible-ie8 visible-ie9">First Name</label>
        |            <div class="input-icon">
        |                <i class="fa fa-font"></i>
        |                <input class="form-control placeholder-no-fix" type="text" placeholder="John" name="firstname" id="firstname" />
        |            </div>
        |        </div>
        |        <div class="form-group">
        |            <label class="control-label visible-ie8 visible-ie9">Last Name</label>
        |            <div class="input-icon">
        |                <i class="fa fa-font"></i>
        |                <input class="form-control placeholder-no-fix" type="text" placeholder="Doe" name="lastname" id="lastname" />
        |            </div>
        |        </div>
        |        <div class="form-group">
        |            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        |            <label class="control-label visible-ie8 visible-ie9">Email</label>
        |            <div class="input-icon">
        |                <i class="fa fa-envelope"></i>
        |                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" id="new_email" />
        |            </div>
        |        </div>
        |        <div class="form-group">
        |            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        |            <label class="control-label visible-ie8 visible-ie9">Account Type</label>
        |            <div class="input-icon">
        |                <i class="fa fa-user"></i>
        |                <select id="role" class="form-control">
        |                   <option value="professor">Professor</option>
        |                   <option value="student" selected>Student</option>
        |                </select>
        |            </div>
        |        </div>
        |        <p> Enter your account details below: </p>
        |        <div class="form-group">
        |            <label class="control-label visible-ie8 visible-ie9">Username</label>
        |            <div class="input-icon">
        |                <i class="fa fa-user"></i>
        |                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" id="new_username" />
        |            </div>
        |        </div>
        |        <div class="form-group">
        |            <label class="control-label visible-ie8 visible-ie9">Password</label>
        |            <div class="input-icon">
        |                <i class="fa fa-lock"></i>
        |                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" /> </div>
        |        </div>
        |        <div class="form-group">
        |            <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
        |            <div class="controls">
        |                <div class="input-icon">
        |                    <i class="fa fa-check"></i>
        |                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" id="rpassword" /> </div>
        |            </div>
        |        </div>
        |        <div class="form-group">
        |            <label>
        |                <input type="checkbox" name="tnc" /> I agree to the
        |                <a href="javascript:;"> Terms of Service </a> and
        |                <a href="javascript:;"> Privacy Policy </a>
        |            </label>
        |            <div id="register_tnc_error"> </div>
        |        </div>
        |        <div class="form-actions">
        |            <button id="register-back-btn" type="button" class="btn grey-salsa btn-outline"> Back </button>
        |            <button type="submit" id="register-submit-btn" class="btn green pull-right"> Sign Up </button>
        |        </div>
        |    </form>
        |    <!-- END REGISTRATION FORM -->
        |</div>
        |<!-- END LOGIN -->