html, body, #content {
  height: 100%;
}

body {
  background-color: #4caf50;
  font-family: 'Roboto', sans-serif;
}

.finished {
  background-color: #03a8f4;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question-block {
  height: 33%;
}

.question-header {
  color: white;
  padding: 10px;
  font-size: 48px;
  font-weight: 700;
}

.row {
  display: block;
  height: 33%;
}

.answers {
  height: 67%;
}

.letter {
  font-weight: 700;
  color: #4caf50;
  background: #212121;
  border-radius: 12px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  transition: box-shadow 0.4s ease-in-out;
}

.answer-block {
  font-size: 1.75em;
  padding: 10px;
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;

  /* Border isn't visible, but it's needed so the animation looks nice. */
  border-radius: 12px;

  transition: background 0.1s ease-out;
}

.answer-block:hover .letter {
  box-shadow: 0 0 25px #03A9F4;
}

/* React sets these classes after you click an anwser. */

.answer-block-selected {
  background: #03A9F4;
  transition: background 0.3s ease-in;
}

.letter-selected {
  color: #03A9F4;
  transition: background 0.3s ease-in;
}
